body {
    background-color: white;
    background-image: url('../icons/10078817.png');
    background-size: cover;
    font-family: "Sora", sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.footer-content {
    text-align: center;
    padding: 20px 0; 
}

.gif-ninja {
    display: flex;
    justify-content: center;

}

.return a {
    text-decoration: none;
    color: rgb(13, 12, 12);
    margin-left: 25px;
    font-size: 30px;
}

.heading-text p {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

.paragraphs p {
    margin-left: 60px;
    margin-right: 60px ;

}

.nav-bar {
    padding: 10px 0; /* Add some padding for better spacing */
    text-align: right;
}

.nav-bar a {
    color: rgb(57, 57, 57);
    text-decoration: none;
    margin: 0 20px; 
    font-size: 18px;
    font-weight: bold;
}

.nav-bar a:hover {
    color: whitesmoke;
}