@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: grid;
    grid-template-rows: auto auto;
    background-image: url("../images/pexels-rpnickson-7238759.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header > * {
    position: relative;
    z-index: 2;
}

.title p {
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 2em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}


.nav {
    display: grid;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    padding-top: 15px;
    width: 100%; 
    z-index: 4; 
}

.nav ul {
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    padding-right: 25px;
}

.nav li {
    margin: 0; 
}

.nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease-in-out;
}

.nav a:hover {
    color: #ae8f80;
    transform: scale(1.1);
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 5;
    position: fixed;
    top: 20px;
    right: 20px;
}

.toggle-button .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease
    }

    .nav ul {
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    .nav ul li {
        margin: 0;
        padding-top: 20px;
    }

    .nav.active {
        display: flex;
        width: 50%; 
        height: 100%;
        padding: 20px 0px;
        right: 0;
    }
}

.main-header {
    padding: 4rem 0;
    display: grid;
    justify-content: start;
}

.main-header-text {
    padding-left: 30px;
}

.main-header-content {
    text-align: left;
    padding: 0 1rem;
}

.main-header-content .name {
    padding-top: 20px;
    font-weight: 700;
}

.main-header-content .occupation {
    font-weight: 200;
}

.main-header-text .About-me-Heading {
    padding-top: 84px;
    font-size: 3rem;
    font-weight: 400;
}

.main-header-text .About-me-Heading span {
    color: #8a8a8a;
}



.weather-content {
    display: flex;
    
}

#weather-info {
    font-weight: 200;
}

#location-place {
    margin-top: 33px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#temp-place {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.weather-content img {
    width: 50px;
    height: auto;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 45px;
    margin-right: 14px;
    animation: cloudy 3s ease-in-out infinite;
}


@keyframes cloudy {
      0%, 100% {
        transform: scale(1);
      }
      25%, 75% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(1.5);
      }
    }

.news-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 135px;
}


.news-headline {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 2px 2px 2px #8a8a8a;
    border-radius: 20px;
}

.headline img{
    width: 200px;
    height: auto;
}

.headline h3 {
    font-weight: 500;
}

.headline-content a{
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: #ae8f80;
    transform: scale(1.1);
}

.news-heading h1{
    font-weight: 600;
    padding-bottom: 20px;
    animation: news-heading 3s ease-in forwards;
}

@keyframes news-heading {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-25px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

.about-me {
    padding: 4rem 0;
    display: grid;
    justify-items: center;
    margin-top: 20px;
}



.about-me-content {
    display: grid;
    gap: 2rem;
}

.hello {
  animation: helloAnimation 3s ease-in-out forwards;
  font-weight: 300;
  font-size: xx-large;
}

@keyframes helloAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(-25px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.about-me-content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem;
}


.about-me-content img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.about-me-content img:hover {
    transform: scale(1.1);
}

.about-me-content p {
    font-weight: 200;
    line-height: 25px;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
  animation: skillsAnimation 3s ease-in forwards;
}

@keyframes skillsAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(-25px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
    
}

.skills-wrapper img {
  padding: 1.25rem;
  transition: transform 0.5s ease-in-out;
}

.skills-wrapper img:hover {
  transform: scale(1.1);
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.projects {
    padding: 4rem 0;
    display: grid;
    justify-items: center;
    padding-bottom: 0px;
}

.project-content {
    display: grid;
    gap: 2rem;
}

.project {
    display: grid;
    text-align: center;
    padding-bottom: 100px;
}

.project-image {
    display: grid;
    justify-items: center;
}

.project-image img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.project-image img:hover {
    transform: scale(1.1);
}

.project-text {
    margin-top: 1rem;
    font-weight: 200;
}

.project-text h3 {
    font-weight: 500;
}
.project-text p {
    font-weight: 300;
    line-height: 25px;
}

.project-heading h1 {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 600;
    animation: projectAnimation 3s ease-in forwards;
}

@keyframes projectAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-25px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

#education {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.education-heading {
    display: grid;
    justify-items: center;
    text-align: center;
}

.education-heading h1 {

    padding-bottom: 12px;
    font-weight: 600;
    animation: educationAnimation 3s ease-in forwards;
}

@keyframes educationAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-25px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

.education-line-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.education-line-content img {
    width: 50%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
    max-height: 300px;
}

.education-line-content img:hover {
    transform: scale(1.1);
}



/* Experience Section */

#experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
}

.experience-line-text img {
    width: 50%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.experience-line-text img:hover{
    transform: scale(1.1);
}

.experience h1 {
    margin-top: 80px;
    margin-bottom: 40px;
    animation: experienceAnimation 3s ease-in forwards;
}

@keyframes experienceAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-25px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#contact-me {
    display: grid;
    justify-items: center;
    position: relative;
    background-color: #333; 
    color: #fff; 
}

.contact-me-heading {
    text-align: center;
    font-weight: 600;
    position: relative;
}

.contact-me-content {
    display: grid;
   
    justify-items: center;
    text-align: center;
}

.contact-me-text {
    font-weight: 200;
}

.contact-links {
    display: grid;
    gap: 1rem;
    justify-items: center;
    grid-auto-flow: column;
    position: relative;
}

.contact-links img {
    max-width: 50px;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.contact-links img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    font-weight: 200;
    font-size: 0.8rem;
    color: #bebdbd; 
}
@media (max-width: 1200px) {
    .nav ul {
        grid-template-columns: repeat(7, auto);
        gap: 15px;
        padding-right: 35px;
    }

    .project-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .education-line-content {
        grid-template-columns: repeat(2, 1fr);
    }

     .weather-content {
        margin-left: 25px;
        margin-top: 60px;
    }
    
    .weather-content img {
        margin-left: 0;
    }

    .news-content {
        display: flex;
        margin-top: 10px;
    }

    .news-headlines-gif img {
        width: 80px;
        margin-right: 30px;
        margin-top: 20px;
    }

    .headline-content p{
        text-align: left;
        font-size: 12px;
    }


    
}


@media (max-width: 768px) {
    .top-header {
        grid-template-columns: 1fr;
        text-align: left;
    }


    .main-header {
        justify-content: center;
        text-align: center;
    }

    .main-header-content {
        padding: 0;
    }

    .main-header-text .About-me-Heading {
        padding-top: 2rem;
        font-size: 2rem;
        align-items: center;
    }

    .project-content {
        grid-template-columns: 1fr;
    }

    .project-text {
        padding: 20px;
    }

    .education-line-content {
        grid-template-columns: 1fr;
    }

    .weather-content {
        margin-left: 25px;
        margin-top: 60px;
    }
    
    .weather-content img {
        margin-left: 0;
    }

    .news-content {
        display: flex;
        margin-top: 10px;
    }


    .news-headlines-gif img {
        width: 80px;
        margin-right: 30px;
        margin-top: 20px;
    }

    .headline-content a{
        text-align: left;
        font-size: 12px;

        padding-bottom: 30px;
    }
}


@media (max-width: 480px) {

    .nav ul {
        padding-left: 30px;
    }

    .hello p {
        padding-left: 30px;
    }

    .project-image img {
        width: 80%;
    }

    .about-me-content {
        display: flex;
        flex-direction: column;
    }

    .about-me-content img {
        width: 80%;
        height: auto;
        padding: 20px ;
    }

    .education-line-content img {
        width: 80%;
    }

    .contact-links img {
        width: 60px;
    }

    .weather-news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-content {
        margin-right: 25px;
        margin-top: 20px;
    }

    .weather-content img {
        margin-left: 0;
    }

    .news-content {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
    }

   .news-headline{
    padding: 10px;
    margin-left: 18px;
    margin-right: 18px;
   }

    .headline img {
        width: 100px;
        height: auto;
    }

    .headline-content{
        padding: 10px;
    }

    .headline-content a{
        font-size: small;

    }

    .headline-content p{
        text-align: left;
        font-size: 12px;
    }
}


@media (max-width: 320px) {
    .nav ul {
        padding-left: 30px;
    }

    .project-image img {
        width: 80%;
    }

    .education-line-content img {
        width: 80%;
    }

    .contact-links img {
        width: 60px;
    }

    .weather-content {
        margin-right: 20px;
        margin-top: 20px;
    }
    
    .weather-news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-content img {
        margin-left: 0;
    }

    .news-content {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .news-headline {
        padding: 10px;
    }

    .news-headlines-gif img {
        width: 80px;
        margin-right: 30px;
        margin-top: 20px;
    }

    .headline-content p{
        text-align: left;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .contact-links {
        grid-auto-flow: row;
        grid-template-columns: none;
    }
}
